name: Check files

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

permissions:
    contents: read

jobs:
    validate-schemas:
        name: Validate Prisma schemas
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout Code
                uses: actions/checkout@v5
                with:
                    persist-credentials: false

            -   name: Set up Node.js
                uses: actions/setup-node@v6
                with:
                    node-version: '22.19.0'

            -   name: Install Dependencies
                working-directory: ./src
                run: npm ci

            -   name: Run validation
                working-directory: ./src
                run: |
                    echo "DATABASE_URL=random" > .env
                    npm run db:validate
